---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import MailIcon from "../Icons/MailIcon.astro";
import PhoneIcon from "../Icons/PhoneIcon.astro";
import WebIcon from "../Icons/WebIcon.astro";
import Heading from "../Typography/Heading.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <Heading>{t("contacts.title")}</Heading>
  <div class="space-y-4">
    <div class="flex gap-2">
      <PhoneIcon /> +992 03 200 0043
    </div>
    <div class="flex gap-2">
      <MailIcon /> li.bogdan74@gmail.com
    </div>
    <div class="flex gap-2">
      <WebIcon />
      <a href="https://www.bogdan-li.xyz/welcome" target="_blank">
        bogdan-li.xyz
      </a>
    </div>
  </div>
</div>
