---
import Heading from "../Typography/Heading.astro";
---

<div>
  <Heading> EDUCATION </Heading>
  <div class="space-y-2">
    <h2 class="font-semibold">High School Degree</h2>
    <h1 class="text-xl font-semibold">
      Federal State Government Institution Secondary School №6
    </h1>
    <p>2012 - 2023</p>
  </div>
</div>
