---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Heading from "../Typography/Heading.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <Heading> {t("education.title")} </Heading>
  <div class="space-y-2">
    <h2 class="font-semibold">{t("education.degree")}</h2>
    <h1 class="text-xl font-semibold">
      {t("education.subtitle")}
    </h1>
    <p>2012 - 2023</p>
  </div>
</div>
