---
import Heading from "../Typography/Heading.astro";
---

<div>
  <Heading>languages</Heading>
  <div class="space-y-2">
    <div class="grid grid-cols-12 items-center gap-4">
      <p class="col-span-4">Russian</p>
      <div class="col-span-8 h-2 bg-black w-full rounded-full"></div>
    </div>
    <div class="grid grid-cols-12 items-center gap-4">
      <p class="col-span-4">English</p>
      <div class="col-span-8 h-2 bg-black w-11/12 rounded-full"></div>
    </div>
    <div class="grid grid-cols-12 items-center gap-4">
      <p class="col-span-4">Korean</p>
      <div class="col-span-8 h-2 bg-black w-1/4 rounded-full"></div>
    </div>
  </div>
</div>
