---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Heading from "../Typography/Heading.astro";
import Paragraph from "../Typography/Paragraph.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <Heading> {t("profile.title")} </Heading>
  <Paragraph>
    {t("profile.value")}
  </Paragraph>
</div>
