---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Heading from "../Typography/Heading.astro";
import WorkPlace from "../WorkPlace.astro";

const { workBackground } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <Heading>{t("workBackground.title")}</Heading>
  {
    workBackground.map(
      (el: {
        position: string;
        workPlace: string;
        start: string;
        end?: string;
        content: string[];
      }) => <WorkPlace {...el} />
    )
  }
</div>
