---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Divider from "../components/UI/Divider.astro";
import Container from "../components/UI/Container.astro";
import Heading from "../components/Typography/Heading.astro";
import Paragraph from "../components/Typography/Paragraph.astro";
import DottedDivider from "../components/UI/DottedDivider.astro";
import WorkPlace from "../components/WorkPlace.astro";

const workBackground = [
  {
    position: "Course Instructor",
    workPlace: "skills accelerator Ilmhona",
    start: "MAY 2023",
    content: [
      "Revamped and modernized three foundational tech courses: Introduction to JavaScript, Introduction to Python, and Front-End Development from Scratch, resulting in a 50% increase in student comprehension and engagement.",
      "Pioneered two innovative courses: Website Development with Tilda and React.js Bootcamp, specifically designed to enhance employability and secure internships for young professionals in the tech industry.",
      "Dramatically improved course effectiveness through strategic restructuring and content updates.",
      "Facilitated direct pathways to employment and practical experience for students through industry-aligned curriculum design.",
      "Enhanced accessibility and personalization of learning materials through the development of a bespoke digital platform.",
    ],
  },
  {
    position: "Course Instructor",
    workPlace: "Megafon Tajikistan",
    start: "NOVEMBER 2023",
    end: "MARCH 2024",
    content: [
      "Delivered comprehensive Python training programs to multiple employee groups, focusing on advanced data analysis techniques.",
      "Designed and implemented a curriculum that emphasized practical applications of Python and introductory Pandas for corporate data analysis.",
      "Facilitated cross-departmental data literacy, significantly enhancing the company's overall data analysis capabilities.",
    ],
  },
  {
    position: "Front-end Developer",
    workPlace: "Livo",
    start: "JANUARY 2024",
    content: [
      "pearheaded the development of cutting-edge user interfaces, leveraging the latest front-end technologies to enhance user experience and visual appeal.",
      "Consistently delivered projects ahead of schedule by optimizing development processes and providing crucial support to team members.",
      "Implemented effective strategies to guide team members in completing tasks efficiently, ensuring timely project completion.",
      "Architected and developed a state-of-the-art website for the company, incorporating modern technologies to improve performance, scalability, and user engagement.",
    ],
  },
];
---

<Layout title="Bogdan Li">
  <Title title="Bogdan Li" position="React.js Developer" />
  <Container>
    <Divider />
  </Container>
  <div class="grid grid-cols-12">
    <div class="col-span-5 bg-gray-100 md:ps-12 py-4">dwadhwaoh</div>
    <div class="col-span-7 py-4 ps-4 md:pe-12 space-y-6">
      <div>
        <Heading> Profile </Heading>
        <Paragraph>
          Front-End Developer with extensive experience in modern JavaScript
          frameworks and libraries, specializing in React.js. Proficient in
          TypeScript, Tailwind CSS, and Material UI. Demonstrates versatility
          across diverse project environments and a strong commitment to
          professional growth. Proven track record in developing sophisticated
          landing pages and robust administrative interfaces. Adept at quickly
          adapting to new technologies and methodologies to drive project
          success.
        </Paragraph>
      </div>
      <DottedDivider />
      <div>
        <Heading>work experience</Heading>
        <!-- <WorkPlace
          position="Course Instructor"
          workplace="skills accelerator Ilmhona"
          start="MAY 2023"
        /> -->
        {workBackground.map((el) => <WorkPlace {...el} />)}
      </div>
    </div>
  </div>
</Layout>
