---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Divider from "../components/UI/Divider.astro";
import Container from "../components/UI/Container.astro";
import DottedDivider from "../components/UI/DottedDivider.astro";
import ContactsSection from "../components/Sections/ContactsSection.astro";
import ProfileSection from "../components/Sections/ProfileSection.astro";
import WorkSection from "../components/Sections/WorkSection.astro";
import SkillsSection from "../components/Sections/SkillsSection.astro";
import EducationSection from "../components/Sections/EducationSection.astro";
import LanguagesSection from "../components/Sections/LanguagesSection.astro";

const workBackground: {
  position: string;
  workPlace: string;
  start: string;
  end?: string;
  content: string[];
}[] = [
  {
    position: "Course Instructor",
    workPlace: "skills accelerator Ilmhona",
    start: "MAY 2023",
    content: [
      "Revamped and modernized three foundational tech courses: Introduction to JavaScript, Introduction to Python, and Front-End Development from Scratch, resulting in a 50% increase in student comprehension and engagement.",
      "Pioneered two innovative courses: Website Development with Tilda and React.js Bootcamp, specifically designed to enhance employability and secure internships for young professionals in the tech industry.",
      "Dramatically improved course effectiveness through strategic restructuring and content updates.",
      "Facilitated direct pathways to employment and practical experience for students through industry-aligned curriculum design.",
      "Enhanced accessibility and personalization of learning materials through the development of a bespoke digital platform.",
    ],
  },
  {
    position: "Course Instructor",
    workPlace: "Megafon Tajikistan",
    start: "NOVEMBER 2023",
    end: "MARCH 2024",
    content: [
      "Delivered comprehensive Python training programs to multiple employee groups, focusing on advanced data analysis techniques.",
      "Designed and implemented a curriculum that emphasized practical applications of Python and introductory Pandas for corporate data analysis.",
      "Facilitated cross-departmental data literacy, significantly enhancing the company's overall data analysis capabilities.",
    ],
  },
  {
    position: "Front-end Developer",
    workPlace: "Livo",
    start: "JANUARY 2024",
    content: [
      "pearheaded the development of cutting-edge user interfaces, leveraging the latest front-end technologies to enhance user experience and visual appeal.",
      "Consistently delivered projects ahead of schedule by optimizing development processes and providing crucial support to team members.",
      "Implemented effective strategies to guide team members in completing tasks efficiently, ensuring timely project completion.",
      "Architected and developed a state-of-the-art website for the company, incorporating modern technologies to improve performance, scalability, and user engagement.",
    ],
  },
];

const skills = [
  "JavaScript",
  "TypeScript",
  "React.js",
  "Next.js",
  "Astro.js",
  "Redux Toolkit",
  "Zustand",
  "TailwindCSS / TailwindUI",
  "Material UI",
  "shadcn/ui",
  "three.js / react-three-fiber",
  "Figma",
  "Nest.js",
];
---

<Layout title="Bogdan Li">
  <Title title="Bogdan Li" position="React.js Developer" />
  <Container>
    <Divider />
  </Container>
  <div class="grid lg:grid-cols-12">
    <div
      class="order-4 lg:order-1 lg:col-span-5 bg-gray-100 px-6 md:px-12 py-4 space-y-4"
    >
      <ContactsSection />
      <DottedDivider />
      <SkillsSection skills={skills} />
      <DottedDivider />
      <EducationSection />
      <DottedDivider />
      <LanguagesSection />
    </div>
    <div class="order-2 lg:col-span-7 py-4 ps-4 md:pe-12 space-y-6">
      <ProfileSection />
      <DottedDivider />
      <WorkSection workBackground={workBackground} />
    </div>
  </div>
</Layout>
