---
const { position, workPlace, start, end, content } = Astro.props;
---

<article class="mt-4">
  <h1 class="font-semibold">{position}</h1>
  <div class="flex justify-between text-sm">
    <p>{workPlace}</p>
    <p>{start} - {end ? end : "PRESENT"}</p>
  </div>
  <div class="text-sm ps-4 my-2">
    {content.map((el: string) => <li>{el}</li>)}
  </div>
</article>
