---
import ContactsSection from "../../components/Sections/ContactsSection.astro";
import EducationSection from "../../components/Sections/EducationSection.astro";
import LanguagesSection from "../../components/Sections/LanguagesSection.astro";
import ProfileSection from "../../components/Sections/ProfileSection.astro";
import SkillsSection from "../../components/Sections/SkillsSection.astro";
import WorkSection from "../../components/Sections/WorkSection.astro";
import Title from "../../components/Title.astro";
import Container from "../../components/UI/Container.astro";
import Divider from "../../components/UI/Divider.astro";
import DottedDivider from "../../components/UI/DottedDivider.astro";
import Layout from "../../layouts/Layout.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import supabaseClient from "../../supabase";

export async function getStaticPaths() {
  const languages = ["en", "ru"];

  return languages.map((lang) => ({
    params: { lang },
  }));
}

const workBackground: {
  position: string;
  workPlace: string;
  date: string;
  content: string[];
}[] = [
  {
    position: "workBackground.position1",
    workPlace: "workBackground.company1",
    date: "workBackground.date1",
    content: [
      "workBackground.key1",
      "workBackground.key2",
      "workBackground.key3",
      "workBackground.key4",
      "workBackground.key5",
    ],
  },
  {
    position: "workBackground.position2",
    workPlace: "workBackground.company2",
    date: "workBackground.date2",
    content: [
      "workBackground.key6",
      "workBackground.key7",
      "workBackground.key8",
    ],
  },
  {
    position: "workBackground.position3",
    workPlace: "workBackground.company3",
    date: "workBackground.date3",
    content: [
      "workBackground.key9",
      "workBackground.key10",
      "workBackground.key11",
      "workBackground.key12",
    ],
  },
  {
    position: "workBackground.position4",
    workPlace: "workBackground.company4",
    date: "workBackground.date4",
    content: [
      "workBackground.key13",
      "workBackground.key14",
      "workBackground.key15",
    ],
  },
  {
    position: "workBackground.position5",
    workPlace: "workBackground.company5",
    date: "workBackground.date5",
    content: [
      "workBackground.key16",
      "workBackground.key17",
      "workBackground.key18",
    ],
  },
];

const skills = [
  "JavaScript",
  "TypeScript",
  "React.js",
  "Next.js",
  "Astro.js",
  "Redux Toolkit",
  "Zustand",
  "TailwindCSS / TailwindUI",
  "Material UI",
  "shadcn/ui",
  "three.js / react-three-fiber",
  "Figma",
  "Nest.js",
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

(async () => {
  const { data } = await supabaseClient.from("Work Experience").select("*");
  console.log(sjdsl);
})();
---

<Layout title="Bogdan Li">
  <Title title={t("bogdan.name")} position={t("bogdan.position")} />
  <LanguagePicker />
  <Container>
    <Divider />
  </Container>
  <div class="grid lg:grid-cols-12">
    <div
      class="order-4 lg:order-1 lg:col-span-5 bg-gray-100 px-6 md:px-12 py-4 space-y-4"
    >
      <ContactsSection />
      <DottedDivider />
      <SkillsSection skills={skills} />
      <DottedDivider />
      <EducationSection />
      <DottedDivider />
      <LanguagesSection />
    </div>
    <div class="order-2 lg:col-span-7 py-4 ps-4 md:pe-12 space-y-6">
      <ProfileSection />
      <DottedDivider />
      <WorkSection workBackground={workBackground} />
    </div>
  </div>
</Layout>
